<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='estilo.css') }}">
    <script src=" {{url_for('static', filename='script.js')}}"></script>
    <title>Formulário</title>
</head>

<body>

    <div class="primary-div">
        <form method="POST" action="#" name="formulario1" class="form1">

            <h1>FORMULÁRIO</h1>
            <div class="container">
                <label for="">nome</label>
                <input type="text" name="name" class="select"><br>
            </div>

            <div class="container">
                <label for="">Objetos</label>
                <select id="myList" name="Departamento" onchange="menuDinamico()" class="select1">
                        <option value="0">Selecione</option>
                        <option value="1">Desenvolvedor</option>
                        <option value="2">idiomas</option>
                        <option value="3">linguagens de dominio</option>
                        <option value="4">Frameworks</option>
                    </select> <br>    	 
            </div>
            <div class="container">
                <label for="">Itens do Objeto</label>
                <select class="select1" name="dinamico" name="Departamento1">
                    <option value="-">Selecione</option>
                </select> 
            </div>

            <div class="container">
                <label for="">dataResposta</label>
                <input type="date" name="dtresposta" class="select"> <br>
            </div>

            <div class="container">
                <label for=""> quantidadeRealizada</label>
                <input type="number" name="qtrealizada" class="select"> <br>
            </div>

            <div class="container">
                <label for="">quantidadeReal </label>
                <input type="number" name="qtreal" class="select"> <br>
            </div>

            <div class="container">
                <label for="">valorProvisionado</label>
                <input type="number" name="valorP" class="select"> <br>
            </div>

            <div class="container">
                <label for="">valorUtilizado</label>
                <input type="number" name="valorU" class="select"> <br>
            </div>

            <div class="container">
                <label for="">ResultadoFinal</label>
                <input type="text" name="rfinal" class="select"> <br>

            </div>
            <div class="container">
                <label for="">Observacao</label>
                <input type="text" textarea="30" name="obs" class="select">
            </div>
            <center>
                <input type="submit" class="button">
            </center>



        </form>
    </div>
</body>

</htm